.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.grow {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
@media (max-width: 767px) {
  .sm\:flex {
    display: flex;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sm\:flex-col {
    flex-direction: column;
  }
  .sm\:flex-col-reverse {
    flex-direction: column-reverse;
  }
  .sm\:flex-wrap {
    flex-wrap: wrap;
  }
  .sm\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .sm\:grow {
    flex-grow: 1;
  }
  .sm\:grow-0 {
    flex-grow: 0;
  }
  .sm\:shrink {
    flex-shrink: 1;
  }
  .sm\:shrink-0 {
    flex-shrink: 0;
  }
  .sm\:justify-start {
    justify-content: flex-start;
  }
  .sm\:justify-end {
    justify-content: flex-end;
  }
  .sm\:justify-center {
    justify-content: center;
  }
  .sm\:justify-between {
    justify-content: space-between;
  }
  .sm\:justify-around {
    justify-content: space-around;
  }
  .sm\:justify-evenly {
    justify-content: space-evenly;
  }
  .sm\:items-start {
    align-items: flex-start;
  }
  .sm\:items-end {
    align-items: flex-end;
  }
  .sm\:items-center {
    align-items: center;
  }
  .sm\:items-baseline {
    align-items: baseline;
  }
  .sm\:items-stretch {
    align-items: stretch;
  }
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .md\:flex-col {
    flex-direction: column;
  }
  .md\:flex-col-reverse {
    flex-direction: column-reverse;
  }
  .md\:flex-wrap {
    flex-wrap: wrap;
  }
  .md\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .md\:grow {
    flex-grow: 1;
  }
  .md\:grow-0 {
    flex-grow: 0;
  }
  .md\:shrink {
    flex-shrink: 1;
  }
  .md\:shrink-0 {
    flex-shrink: 0;
  }
  .md\:justify-start {
    justify-content: flex-start;
  }
  .md\:justify-end {
    justify-content: flex-end;
  }
  .md\:justify-center {
    justify-content: center;
  }
  .md\:justify-between {
    justify-content: space-between;
  }
  .md\:justify-around {
    justify-content: space-around;
  }
  .md\:justify-evenly {
    justify-content: space-evenly;
  }
  .md\:items-start {
    align-items: flex-start;
  }
  .md\:items-end {
    align-items: flex-end;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:items-baseline {
    align-items: baseline;
  }
  .md\:items-stretch {
    align-items: stretch;
  }
}
@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .lg\:flex-col {
    flex-direction: column;
  }
  .lg\:flex-col-reverse {
    flex-direction: column-reverse;
  }
  .lg\:flex-wrap {
    flex-wrap: wrap;
  }
  .lg\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .lg\:grow {
    flex-grow: 1;
  }
  .lg\:grow-0 {
    flex-grow: 0;
  }
  .lg\:shrink {
    flex-shrink: 1;
  }
  .lg\:shrink-0 {
    flex-shrink: 0;
  }
  .lg\:justify-start {
    justify-content: flex-start;
  }
  .lg\:justify-end {
    justify-content: flex-end;
  }
  .lg\:justify-center {
    justify-content: center;
  }
  .lg\:justify-between {
    justify-content: space-between;
  }
  .lg\:justify-around {
    justify-content: space-around;
  }
  .lg\:justify-evenly {
    justify-content: space-evenly;
  }
  .lg\:items-start {
    align-items: flex-start;
  }
  .lg\:items-end {
    align-items: flex-end;
  }
  .lg\:items-center {
    align-items: center;
  }
  .lg\:items-baseline {
    align-items: baseline;
  }
  .lg\:items-stretch {
    align-items: stretch;
  }
}
@media (min-width: 1270px) {
  .xl\:flex {
    display: flex;
  }
  .xl\:flex-row {
    flex-direction: row;
  }
  .xl\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .xl\:flex-col {
    flex-direction: column;
  }
  .xl\:flex-col-reverse {
    flex-direction: column-reverse;
  }
  .xl\:flex-wrap {
    flex-wrap: wrap;
  }
  .xl\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .xl\:grow {
    flex-grow: 1;
  }
  .xl\:grow-0 {
    flex-grow: 0;
  }
  .xl\:shrink {
    flex-shrink: 1;
  }
  .xl\:shrink-0 {
    flex-shrink: 0;
  }
  .xl\:justify-start {
    justify-content: flex-start;
  }
  .xl\:justify-end {
    justify-content: flex-end;
  }
  .xl\:justify-center {
    justify-content: center;
  }
  .xl\:justify-between {
    justify-content: space-between;
  }
  .xl\:justify-around {
    justify-content: space-around;
  }
  .xl\:justify-evenly {
    justify-content: space-evenly;
  }
  .xl\:items-start {
    align-items: flex-start;
  }
  .xl\:items-end {
    align-items: flex-end;
  }
  .xl\:items-center {
    align-items: center;
  }
  .xl\:items-baseline {
    align-items: baseline;
  }
  .xl\:items-stretch {
    align-items: stretch;
  }
}
.text-left {
  text-align: left;
}
html[dir="rtl"] .text-left {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
html[dir="rtl"] .text-right {
  text-align: left;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.truncate-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.text-clip {
  text-overflow: clip;
}
.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.align-text-top {
  vertical-align: text-top;
}
.align-text-bottom {
  vertical-align: text-bottom;
}
.align-sub {
  vertical-align: sub;
}
.align-super {
  vertical-align: super;
}
.whitespace-normal {
  white-space: normal;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre {
  white-space: pre;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
@media (max-width: 767px) {
  .sm\:text-left {
    text-align: left;
  }
  html[dir="rtl"] .sm\:text-left {
    text-align: right;
  }
  .sm\:text-center {
    text-align: center;
  }
  .sm\:text-right {
    text-align: right;
  }
  html[dir="rtl"] .sm\:text-right {
    text-align: left;
  }
  .sm\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sm\:truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .sm\:truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .sm\:truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .sm\:text-ellipsis {
    text-overflow: ellipsis;
  }
  .sm\:text-clip {
    text-overflow: clip;
  }
  .sm\:align-baseline {
    vertical-align: baseline;
  }
  .sm\:align-top {
    vertical-align: top;
  }
  .sm\:align-middle {
    vertical-align: middle;
  }
  .sm\:align-bottom {
    vertical-align: bottom;
  }
  .sm\:align-text-top {
    vertical-align: text-top;
  }
  .sm\:align-text-bottom {
    vertical-align: text-bottom;
  }
  .sm\:align-sub {
    vertical-align: sub;
  }
  .sm\:align-super {
    vertical-align: super;
  }
  .sm\:whitespace-normal {
    white-space: normal;
  }
  .sm\:whitespace-nowrap {
    white-space: nowrap;
  }
  .sm\:whitespace-pre {
    white-space: pre;
  }
  .sm\:whitespace-pre-line {
    white-space: pre-line;
  }
  .sm\:whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  .sm\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }
  .sm\:break-words {
    overflow-wrap: break-word;
  }
  .sm\:break-all {
    word-break: break-all;
  }
}
@media (min-width: 768px) {
  .md\:text-left {
    text-align: left;
  }
  html[dir="rtl"] .md\:text-left {
    text-align: right;
  }
  .md\:text-center {
    text-align: center;
  }
  .md\:text-right {
    text-align: right;
  }
  html[dir="rtl"] .md\:text-right {
    text-align: left;
  }
  .md\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .md\:truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .md\:truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .md\:truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .md\:text-ellipsis {
    text-overflow: ellipsis;
  }
  .md\:text-clip {
    text-overflow: clip;
  }
  .md\:align-baseline {
    vertical-align: baseline;
  }
  .md\:align-top {
    vertical-align: top;
  }
  .md\:align-middle {
    vertical-align: middle;
  }
  .md\:align-bottom {
    vertical-align: bottom;
  }
  .md\:align-text-top {
    vertical-align: text-top;
  }
  .md\:align-text-bottom {
    vertical-align: text-bottom;
  }
  .md\:align-sub {
    vertical-align: sub;
  }
  .md\:align-super {
    vertical-align: super;
  }
  .md\:whitespace-normal {
    white-space: normal;
  }
  .md\:whitespace-nowrap {
    white-space: nowrap;
  }
  .md\:whitespace-pre {
    white-space: pre;
  }
  .md\:whitespace-pre-line {
    white-space: pre-line;
  }
  .md\:whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  .md\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }
  .md\:break-words {
    overflow-wrap: break-word;
  }
  .md\:break-all {
    word-break: break-all;
  }
}
@media (min-width: 1024px) {
  .lg\:text-left {
    text-align: left;
  }
  html[dir="rtl"] .lg\:text-left {
    text-align: right;
  }
  .lg\:text-center {
    text-align: center;
  }
  .lg\:text-right {
    text-align: right;
  }
  html[dir="rtl"] .lg\:text-right {
    text-align: left;
  }
  .lg\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .lg\:truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .lg\:truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .lg\:truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .lg\:text-ellipsis {
    text-overflow: ellipsis;
  }
  .lg\:text-clip {
    text-overflow: clip;
  }
  .lg\:align-baseline {
    vertical-align: baseline;
  }
  .lg\:align-top {
    vertical-align: top;
  }
  .lg\:align-middle {
    vertical-align: middle;
  }
  .lg\:align-bottom {
    vertical-align: bottom;
  }
  .lg\:align-text-top {
    vertical-align: text-top;
  }
  .lg\:align-text-bottom {
    vertical-align: text-bottom;
  }
  .lg\:align-sub {
    vertical-align: sub;
  }
  .lg\:align-super {
    vertical-align: super;
  }
  .lg\:whitespace-normal {
    white-space: normal;
  }
  .lg\:whitespace-nowrap {
    white-space: nowrap;
  }
  .lg\:whitespace-pre {
    white-space: pre;
  }
  .lg\:whitespace-pre-line {
    white-space: pre-line;
  }
  .lg\:whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  .lg\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }
  .lg\:break-words {
    overflow-wrap: break-word;
  }
  .lg\:break-all {
    word-break: break-all;
  }
}
@media (min-width: 1270px) {
  .xl\:text-left {
    text-align: left;
  }
  html[dir="rtl"] .xl\:text-left {
    text-align: right;
  }
  .xl\:text-center {
    text-align: center;
  }
  .xl\:text-right {
    text-align: right;
  }
  html[dir="rtl"] .xl\:text-right {
    text-align: left;
  }
  .xl\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .xl\:truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .xl\:truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .xl\:truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .xl\:text-ellipsis {
    text-overflow: ellipsis;
  }
  .xl\:text-clip {
    text-overflow: clip;
  }
  .xl\:align-baseline {
    vertical-align: baseline;
  }
  .xl\:align-top {
    vertical-align: top;
  }
  .xl\:align-middle {
    vertical-align: middle;
  }
  .xl\:align-bottom {
    vertical-align: bottom;
  }
  .xl\:align-text-top {
    vertical-align: text-top;
  }
  .xl\:align-text-bottom {
    vertical-align: text-bottom;
  }
  .xl\:align-sub {
    vertical-align: sub;
  }
  .xl\:align-super {
    vertical-align: super;
  }
  .xl\:whitespace-normal {
    white-space: normal;
  }
  .xl\:whitespace-nowrap {
    white-space: nowrap;
  }
  .xl\:whitespace-pre {
    white-space: pre;
  }
  .xl\:whitespace-pre-line {
    white-space: pre-line;
  }
  .xl\:whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  .xl\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }
  .xl\:break-words {
    overflow-wrap: break-word;
  }
  .xl\:break-all {
    word-break: break-all;
  }
}
.bg-bottom {
  background-position: bottom;
}
.bg-center {
  background-position: center;
}
.bg-left {
  background-position: left;
}
html[dir="rtl"] .bg-left {
  background-position: right;
}
.bg-left-bottom {
  background-position: left bottom;
}
html[dir="rtl"] .bg-left-bottom {
  background-position: right bottom;
}
.bg-left-top {
  background-position: left top;
}
html[dir="rtl"] .bg-left-top {
  background-position: right top;
}
.bg-right {
  background-position: right;
}
html[dir="rtl"] .bg-right {
  background-position: left;
}
.bg-right-bottom {
  background-position: right bottom;
}
html[dir="rtl"] .bg-right-bottom {
  background-position: left bottom;
}
.bg-right-top {
  background-position: right top;
}
html[dir="rtl"] .bg-right-top {
  background-position: left top;
}
.bg-top {
  background-position: top;
}
.bg-auto {
  background-size: auto;
}
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
@media (max-width: 767px) {
  .sm\:bg-bottom {
    background-position: bottom;
  }
  .sm\:bg-center {
    background-position: center;
  }
  .sm\:bg-left {
    background-position: left;
  }
  html[dir="rtl"] .sm\:bg-left {
    background-position: right;
  }
  .sm\:bg-left-bottom {
    background-position: left bottom;
  }
  html[dir="rtl"] .sm\:bg-left-bottom {
    background-position: right bottom;
  }
  .sm\:bg-left-top {
    background-position: left top;
  }
  html[dir="rtl"] .sm\:bg-left-top {
    background-position: right top;
  }
  .sm\:bg-right {
    background-position: right;
  }
  html[dir="rtl"] .sm\:bg-right {
    background-position: left;
  }
  .sm\:bg-right-bottom {
    background-position: right bottom;
  }
  html[dir="rtl"] .sm\:bg-right-bottom {
    background-position: left bottom;
  }
  .sm\:bg-right-top {
    background-position: right top;
  }
  html[dir="rtl"] .sm\:bg-right-top {
    background-position: left top;
  }
  .sm\:bg-top {
    background-position: top;
  }
  .sm\:bg-auto {
    background-size: auto;
  }
  .sm\:bg-cover {
    background-size: cover;
  }
  .sm\:bg-contain {
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .md\:bg-bottom {
    background-position: bottom;
  }
  .md\:bg-center {
    background-position: center;
  }
  .md\:bg-left {
    background-position: left;
  }
  html[dir="rtl"] .md\:bg-left {
    background-position: right;
  }
  .md\:bg-left-bottom {
    background-position: left bottom;
  }
  html[dir="rtl"] .md\:bg-left-bottom {
    background-position: right bottom;
  }
  .md\:bg-left-top {
    background-position: left top;
  }
  html[dir="rtl"] .md\:bg-left-top {
    background-position: right top;
  }
  .md\:bg-right {
    background-position: right;
  }
  html[dir="rtl"] .md\:bg-right {
    background-position: left;
  }
  .md\:bg-right-bottom {
    background-position: right bottom;
  }
  html[dir="rtl"] .md\:bg-right-bottom {
    background-position: left bottom;
  }
  .md\:bg-right-top {
    background-position: right top;
  }
  html[dir="rtl"] .md\:bg-right-top {
    background-position: left top;
  }
  .md\:bg-top {
    background-position: top;
  }
  .md\:bg-auto {
    background-size: auto;
  }
  .md\:bg-cover {
    background-size: cover;
  }
  .md\:bg-contain {
    background-size: contain;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-bottom {
    background-position: bottom;
  }
  .lg\:bg-center {
    background-position: center;
  }
  .lg\:bg-left {
    background-position: left;
  }
  html[dir="rtl"] .lg\:bg-left {
    background-position: right;
  }
  .lg\:bg-left-bottom {
    background-position: left bottom;
  }
  html[dir="rtl"] .lg\:bg-left-bottom {
    background-position: right bottom;
  }
  .lg\:bg-left-top {
    background-position: left top;
  }
  html[dir="rtl"] .lg\:bg-left-top {
    background-position: right top;
  }
  .lg\:bg-right {
    background-position: right;
  }
  html[dir="rtl"] .lg\:bg-right {
    background-position: left;
  }
  .lg\:bg-right-bottom {
    background-position: right bottom;
  }
  html[dir="rtl"] .lg\:bg-right-bottom {
    background-position: left bottom;
  }
  .lg\:bg-right-top {
    background-position: right top;
  }
  html[dir="rtl"] .lg\:bg-right-top {
    background-position: left top;
  }
  .lg\:bg-top {
    background-position: top;
  }
  .lg\:bg-auto {
    background-size: auto;
  }
  .lg\:bg-cover {
    background-size: cover;
  }
  .lg\:bg-contain {
    background-size: contain;
  }
}
@media (min-width: 1270px) {
  .xl\:bg-bottom {
    background-position: bottom;
  }
  .xl\:bg-center {
    background-position: center;
  }
  .xl\:bg-left {
    background-position: left;
  }
  html[dir="rtl"] .xl\:bg-left {
    background-position: right;
  }
  .xl\:bg-left-bottom {
    background-position: left bottom;
  }
  html[dir="rtl"] .xl\:bg-left-bottom {
    background-position: right bottom;
  }
  .xl\:bg-left-top {
    background-position: left top;
  }
  html[dir="rtl"] .xl\:bg-left-top {
    background-position: right top;
  }
  .xl\:bg-right {
    background-position: right;
  }
  html[dir="rtl"] .xl\:bg-right {
    background-position: left;
  }
  .xl\:bg-right-bottom {
    background-position: right bottom;
  }
  html[dir="rtl"] .xl\:bg-right-bottom {
    background-position: left bottom;
  }
  .xl\:bg-right-top {
    background-position: right top;
  }
  html[dir="rtl"] .xl\:bg-right-top {
    background-position: left top;
  }
  .xl\:bg-top {
    background-position: top;
  }
  .xl\:bg-auto {
    background-size: auto;
  }
  .xl\:bg-cover {
    background-size: cover;
  }
  .xl\:bg-contain {
    background-size: contain;
  }
}
.overflow-auto {
  overflow: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
@media (max-width: 767px) {
  .sm\:overflow-auto {
    overflow: auto;
  }
  .sm\:overflow-y-auto {
    overflow-y: auto;
  }
  .sm\:overflow-x-auto {
    overflow-x: auto;
  }
  .sm\:overflow-hidden {
    overflow: hidden;
  }
  .sm\:overflow-x-hidden {
    overflow-x: hidden;
  }
  .sm\:overflow-y-hidden {
    overflow-y: hidden;
  }
  .sm\:overflow-visible {
    overflow: visible;
  }
  .sm\:overflow-x-visible {
    overflow-x: visible;
  }
  .sm\:overflow-y-visible {
    overflow-y: visible;
  }
  .sm\:overflow-scroll {
    overflow: scroll;
  }
  .sm\:overflow-x-scroll {
    overflow-x: scroll;
  }
  .sm\:overflow-y-scroll {
    overflow-y: scroll;
  }
}
@media (min-width: 768px) {
  .md\:overflow-auto {
    overflow: auto;
  }
  .md\:overflow-y-auto {
    overflow-y: auto;
  }
  .md\:overflow-x-auto {
    overflow-x: auto;
  }
  .md\:overflow-hidden {
    overflow: hidden;
  }
  .md\:overflow-x-hidden {
    overflow-x: hidden;
  }
  .md\:overflow-y-hidden {
    overflow-y: hidden;
  }
  .md\:overflow-visible {
    overflow: visible;
  }
  .md\:overflow-x-visible {
    overflow-x: visible;
  }
  .md\:overflow-y-visible {
    overflow-y: visible;
  }
  .md\:overflow-scroll {
    overflow: scroll;
  }
  .md\:overflow-x-scroll {
    overflow-x: scroll;
  }
  .md\:overflow-y-scroll {
    overflow-y: scroll;
  }
}
@media (min-width: 1024px) {
  .lg\:overflow-auto {
    overflow: auto;
  }
  .lg\:overflow-y-auto {
    overflow-y: auto;
  }
  .lg\:overflow-x-auto {
    overflow-x: auto;
  }
  .lg\:overflow-hidden {
    overflow: hidden;
  }
  .lg\:overflow-x-hidden {
    overflow-x: hidden;
  }
  .lg\:overflow-y-hidden {
    overflow-y: hidden;
  }
  .lg\:overflow-visible {
    overflow: visible;
  }
  .lg\:overflow-x-visible {
    overflow-x: visible;
  }
  .lg\:overflow-y-visible {
    overflow-y: visible;
  }
  .lg\:overflow-scroll {
    overflow: scroll;
  }
  .lg\:overflow-x-scroll {
    overflow-x: scroll;
  }
  .lg\:overflow-y-scroll {
    overflow-y: scroll;
  }
}
@media (min-width: 1270px) {
  .xl\:overflow-auto {
    overflow: auto;
  }
  .xl\:overflow-y-auto {
    overflow-y: auto;
  }
  .xl\:overflow-x-auto {
    overflow-x: auto;
  }
  .xl\:overflow-hidden {
    overflow: hidden;
  }
  .xl\:overflow-x-hidden {
    overflow-x: hidden;
  }
  .xl\:overflow-y-hidden {
    overflow-y: hidden;
  }
  .xl\:overflow-visible {
    overflow: visible;
  }
  .xl\:overflow-x-visible {
    overflow-x: visible;
  }
  .xl\:overflow-y-visible {
    overflow-y: visible;
  }
  .xl\:overflow-scroll {
    overflow: scroll;
  }
  .xl\:overflow-x-scroll {
    overflow-x: scroll;
  }
  .xl\:overflow-y-scroll {
    overflow-y: scroll;
  }
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
@media (max-width: 767px) {
  .sm\:static {
    position: static;
  }
  .sm\:fixed {
    position: fixed;
  }
  .sm\:absolute {
    position: absolute;
  }
  .sm\:relative {
    position: relative;
  }
  .sm\:sticky {
    position: sticky;
  }
}
@media (min-width: 768px) {
  .md\:static {
    position: static;
  }
  .md\:fixed {
    position: fixed;
  }
  .md\:absolute {
    position: absolute;
  }
  .md\:relative {
    position: relative;
  }
  .md\:sticky {
    position: sticky;
  }
}
@media (min-width: 1024px) {
  .lg\:static {
    position: static;
  }
  .lg\:fixed {
    position: fixed;
  }
  .lg\:absolute {
    position: absolute;
  }
  .lg\:relative {
    position: relative;
  }
  .lg\:sticky {
    position: sticky;
  }
}
@media (min-width: 1270px) {
  .xl\:static {
    position: static;
  }
  .xl\:fixed {
    position: fixed;
  }
  .xl\:absolute {
    position: absolute;
  }
  .xl\:relative {
    position: relative;
  }
  .xl\:sticky {
    position: sticky;
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.hidden {
  display: none;
}
@media (max-width: 767px) {
  .sm\:block {
    display: block;
  }
  .sm\:inline-block {
    display: inline-block;
  }
  .sm\:inline {
    display: inline;
  }
  .sm\:flex {
    display: flex;
  }
  .sm\:inline-flex {
    display: inline-flex;
  }
  .sm\:hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
  .md\:inline-block {
    display: inline-block;
  }
  .md\:inline {
    display: inline;
  }
  .md\:flex {
    display: flex;
  }
  .md\:inline-flex {
    display: inline-flex;
  }
  .md\:hidden {
    display: none;
  }
}
@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }
  .lg\:inline-block {
    display: inline-block;
  }
  .lg\:inline {
    display: inline;
  }
  .lg\:flex {
    display: flex;
  }
  .lg\:inline-flex {
    display: inline-flex;
  }
  .lg\:hidden {
    display: none;
  }
}
@media (min-width: 1270px) {
  .xl\:block {
    display: block;
  }
  .xl\:inline-block {
    display: inline-block;
  }
  .xl\:inline {
    display: inline;
  }
  .xl\:flex {
    display: flex;
  }
  .xl\:inline-flex {
    display: inline-flex;
  }
  .xl\:hidden {
    display: none;
  }
}
.cursor-auto {
  cursor: auto;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
@media (max-width: 767px) {
  .sm\:cursor-auto {
    cursor: auto;
  }
  .sm\:cursor-default {
    cursor: default;
  }
  .sm\:cursor-pointer {
    cursor: pointer;
  }
  .sm\:cursor-not-allowed {
    cursor: not-allowed;
  }
}
@media (min-width: 768px) {
  .md\:cursor-auto {
    cursor: auto;
  }
  .md\:cursor-default {
    cursor: default;
  }
  .md\:cursor-pointer {
    cursor: pointer;
  }
  .md\:cursor-not-allowed {
    cursor: not-allowed;
  }
}
@media (min-width: 1024px) {
  .lg\:cursor-auto {
    cursor: auto;
  }
  .lg\:cursor-default {
    cursor: default;
  }
  .lg\:cursor-pointer {
    cursor: pointer;
  }
  .lg\:cursor-not-allowed {
    cursor: not-allowed;
  }
}
@media (min-width: 1270px) {
  .xl\:cursor-auto {
    cursor: auto;
  }
  .xl\:cursor-default {
    cursor: default;
  }
  .xl\:cursor-pointer {
    cursor: pointer;
  }
  .xl\:cursor-not-allowed {
    cursor: not-allowed;
  }
}
